@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* navbar styling */
.container{
    max-width: 1170px;
    padding: 0px 15px;
    margin: auto;
}

.navbar .container{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    justify-content: space-between;
}
.navbar{
    padding: 30px 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu',sans-serif;
    transition: all .3s ease;
    
}

.navbar.sticky{
    background: crimson;
    padding: 15px 0px;
}

.navbar.sticky .logo a span{
    color: white;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
    display:block;
}
.navbar .logo a{
    color: white;
    font-weight: 600;
    font-size: 35px;
    transition: all .3s ease;
}
.navbar .logo a span{
    color: crimson;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky li a:hover{
    color: white;
}

/* Menubar styling start */

.menu-bar,.menu-bar2{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display:none;
}
/* start home styling */
.home{
    display: flex;
    background-image:url("../images/home.jpg");
    /* background: black; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
    float: 100%;
    flex-wrap:initial;

}
.home .container{
    max-width: 1170px;
    padding: 0px 15px;
    margin: auto;
}
.home .home-content{
    margin-left: -15%;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

.home-content a{
    background: crimson;
    color: white;
    display: inline-block;
    padding: 12px 36px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all .3s ease;
}
.home-content a:hover{
    background: none;
    color: crimson;
}
/* all similar styling code */
.about .about-content ,
.services .services-content, .skills .skills-content, .contact .contact-content, .provide .provide-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
section{
    padding: 100px 0px;
}
section .title{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .title::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: #111;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
section .title::after{
    
    position: absolute;
    bottom: -12px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    padding: 5px;
    color: crimson;
    left: 50%;
    transform: translateX(-50%);
}
/* about section start */

.about, .services, .skills,.teams, .contact{
    font-family: 'poppins', sans-serif;
}

.about .title::after{
    content: "Who i am";
}


.about .about-content .left{
    width: 45%;

}
.about .about-content .left img{
    width: 400px;
     height: 400px;
     object-fit: cover;
     border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;

}
.about .about-content .right a{
    background: crimson;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all .3s ease;
}
.about .about-content .right a:hover{
    background: none;
    color: crimson;
}

/* services section styling */
.services, .teams{
    background: #111;
    color:white;

}
.services .title::before,.teams .title::before{
    background: white;
}
.services .title::after{
    background: #111;
    content: "What i provide";
}
.services .title::before{
    width: 210px;
}
.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 25px 20px;
    cursor: pointer;
    transition: all .5s ease;
}
.services .services-content .card:hover i{
    color: white;
}
.services .services-content .card:hover{
    background: crimson;
}
.services .services-content .card .box{
    transition: all .5s ease;
}
.services .services-content .card:hover .box{
    transform: scale(1.05);
}
.services .services-content .card i{
    font-size: 50px;
    color: crimson;
    transition:  all .5s ease;
}
.services .services-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin:  10px 0px 7px 0px;
}
/* skills section styling */
.skills .title::after{
    content: "What i know";
}
.skills .title::before{
    width: 155px;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left a{
    background: crimson;
    color: white;
    display: inline-block;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all .3s ease;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a:hover{
    background: none;
    color: crimson;
}
.skills .skills-content .right .bars{
    margin-bottom: 25px;
} 
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 600;
    font-size: 18px;
}
.skills .skills-content .right .line{
    width: 100%;
    height: 5px;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before{
    
    content: "";
    position: absolute;
    background: crimson;
    height: 5px;
    left: 0;
    top: 0;
    width: 70%;
}
.skills .skills-content .right .line.html::before{
    width: 70%;
}
.skills .skills-content .right .line.css::before{
    width: 60%;
}
.skills .skills-content .right .line.javascript::before{
    width: 30%;
}
.skills .skills-content .right .line.jquery::before{
    width: 35%;
}
.skills .skills-content .right .line.bootstrap::before{
    width: 40%;
}


/* teams section styling */

.teams .title::after{
    background: #111;
    content: "Who with me";
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.teams .carousel .card{
background: #222;
border-radius: 6px;
padding: 25px 35px;
text-align: center;
transition: all .3s ease;
}
.teams .carousel .card:hover img{
    border-color: white;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card:hover{
    background-color: crimson;
}

.teams .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid crimson;
    transition: all .3s ease;
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0px 7px 0px;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    width: 13px;
    height: 13px;
    margin: 0 5px;
    outline: none;
    border: 2px solid crimson!important;
    border-radius: 50%;
    transition: all .3s ease;

}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* contact section styling */
.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .left .row{
    display: flex;
    align-items: center;
    height: 65px;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 600;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .fields,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right .text{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
}
.contact .right form .field input,
.contact .right form .textarea  textarea{
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    outline: none;
    border: 2px solid lightgray;
    border-radius: 6px;
    font-size: 17px;
    font-family: "poppins", sans-serif;
}
.contact .right form .textarea  textarea{
    padding-top: 10px;
    resize: none;
    width: 100%;
    margin-top: 10px;
}
.contact .right form .button{
    height: 47px;
    width: 180px;
    margin: 20px 0px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px solid crimson;
    background: crimson;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: all .4s ease;
    cursor: pointer;
}
.contact .right form .button button:hover{
    background: none;
    color: crimson;
}

/* footer section styling */
footer{
    background: #111;
    padding: 20px 23px;
    color: white;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* scroll btn styling */
.scroll-up-btn {
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
 
.scroll-up-btn i {
    background: crimson;
    padding: 12px 15px;
    border-radius: 6px;
    color: white;
    transition: all .4s ease;
    bottom: 20px;
    border: 2px solid crimson;
    cursor: pointer;
}

.scroll-up-btn i:hover {
    background: none;
    color: crimson;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}
/* ======================================================================================================= */

/* resposive query media start */
@media(max-width:1200px){
    .container{
        max-width: 1170px;
        margin: auto;
    }
    .home-content a{
        padding: 12px 36px;
        font-size: 27px;
        margin-top: 20px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home-content a{
        padding: 10px 24px;
        font-size: 20px;
        margin-top: 25px;
    }
}
/* max-width 1024 ===================== */
@media (max-width:1024px){
    .navbar .logo{
        margin-left: 20px;
    }
    .navbar{
        padding: 12px 0px;
    }
    .navbar.sticky{
        padding: 0px 0px;
    }
    .navbar .menu{
        margin-right: 20px;
    }
    .about .about-content .left img{
        width: 400px;
         height: 300px;
    }
    .skills .skills-content .left a{
        
        padding: 8px 20px;
        font-size: 16px;
    }
    .home .home-content{
        margin-left: -20%;
    }
    .home .home-content .text-2 {
        font-size: 55px;
    }
    .teams .carousel .card p{
        font-size: 14px;
    }
    .teams .carousel .card .text{
        font-size: 22px;
        font-weight: 500;
        margin: 10px 0px 7px 0px;
    }
}
/* max-width 991 ===================== */
@media (max-width:991px){
    
    
    .container{
        padding: 0px 12px;
        max-width: 970px;
    }
    .menu-bar{
        display: block;
        z-index: 999;
        padding-right: 40px;
    }
    
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #111;
        left: -100%;
        top: 0;
        padding-top: 80px;
        transition: .5s;
    }
    .navbar .menu li{
        width: 100%;
        text-align: center;
        padding: 20px 0px; 
    }
    .navbar .menu.active{
        left: 0px;
    }
    .navbar .menu li a{
        width: 100%;
        margin: auto;
        font-size: 25px;
        transition: all .3s ease;
    }
    .navbar .menu li a:hover{
        color: crimson;
    }
    .menu-bar{
        display: block;
        padding-right: 40px;
    }
    .navbar .logo{
        margin-left: 20px;
    }
    .navbar.sticky{
        padding: 7px 0px;
    }
    .navbar{
        padding: 12px 0px;
        
    }
    .home .home-content .text-2 {
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .home .home-content .text-1 {
        font-size: 30px;
    }
    .home-content a{
        padding: 10px 24px;
        font-size: 20px;
        margin-top: 25px;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }     
    .about .about-content .left img{
        width: 95%;
        
    }
    .skills .skills-content .left a{
        
        padding:7px 18px;
        font-size: 16px;
    }
    .home .home-content{
        margin-left: 0%;
    }
}

/* max-width 768 ===================== */
@media(max-width:768px){
    .container{
        max-width: 760px;
        padding: 15px;
    }
    .home .home-content .text-2{
        font-size: 48px;
    }
    .home-content a{
        padding: 10px 20px;
        font-size: 20px;
        margin-top: 25px;
    }
    .about .about-content .left img{
        width: 470px;
         height: 350px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .skills .skills-content .left a{
        
        padding:7px 18px;
        font-size: 16px;
    }
    .home .home-content{
        margin-left: -10%;
    }
    
}
/* max-width 576 ===================== */
@media(max-width:576px){
    .container{
        max-width: 560px;
        padding: 10px;
    }
    .home{
        background-image:url("../images/home2.jpg");
    }
    .home .home-content .text-3{
        font-size: 25px;
    }
    .home .home-content .text-1{
        font-size: 20px;
    }
    .home .home-content .text-2{
        font-size: 27px;
    }
    .about .about-content .right .text{
        font-size: 18px;
    }
    .about .about-content .right p{
        font-size: 12px;
    }
    .home-content a{
        padding: 8px 20px;
        font-size: 17px;
        margin-top: 25px;
        width: 200px;
        text-align: center;
    }
    .home .home-content{
        margin-left: 0;
    }
    .navbar{
        padding: 15px 0px;
    }
    .navbar.sticky{
        padding: 0px 0px;
    }
    .about .about-content .left img{
        width: 350px;
         height: 350px;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    section.about{
        padding: 70px 0px;
    }
    section.services,section.teams,section.contact{
        padding: 70px 0px;
    }
    .about .title, .services .title, .skills .title,.teams .title,
    .contact .title{
        font-size: 35px;
        margin-bottom: 50px;
        padding-bottom: 18px;
    }
    .about .title::before{
        width: 155px;
    }
    .services .title::before{
        width: 190px;
    }
    .about .title::after{
        bottom: -10px;
        font-size: 17px;
    }
    .about .about-content .right a{
        width: 100%;
        text-align: center;
    }
    .services .services-content .card{
        width:100%;
    }   
    .skills .skills-content .left a{
        width: 100%;
        padding:7px 16px;
        font-size: 16px;
        text-align: center;
    }
    .skills .skills-content .column{
        width: calc(100% - 0px);
    }
    .skills .skills-content .left .text{
        text-align: center;
    }
    .skills .skills-content .left{
        margin-bottom: 20px;
    }
    .skills .skills-content .left .text{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .skills .title::before{
        width: 140px;
    }
    .skills .title::after{
        font-size: 18px;
    }
    .teams .carousel .card .text{
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0px 7px 0px;
    }
    .contact .contact-content .column{
        width: calc(100% - 10px);
        margin-bottom: 20px;
    }
    .contact .right form .button{
        height: 40px;
        width: 100%;
        font-size: 18px;
    }
}




/* this style for skills page */
.about-skills .skills-slider{
    margin-top: 13%;
}
.about-skills .skills-slider .text-1{
    font-size: 43px;
    color: white;
    text-align:center;
    margin-bottom: 20px;
}
.about-skills .skills-slider .text-2{
    font-size: 35px;
   color: crimson;
    text-align:center;
    margin-bottom: 10px;
}
.about-skills .skills-slider .text-3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.about-skills .skills-slider .button{
    margin: auto;
    display: block;
    width: 200px;
}
.about-skills{
    /* display: flex; */
    background-image:url("../images/home.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
    /* float: 100%;
    flex-wrap:initial; */

}
.about-skills a{
    background: crimson;
    color: white;
    display: inline-block;
    padding: 10px 40px;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all .3s ease;
    text-align: center;
    /* width: 100%; */

}
.about-skills a:hover{
    background: none;
    color: crimson;
}
.about-skills .skills-slider .text-3 span{
    color: crimson;
    font-weight: 500;
}
.services.skills .title::before{
    width: 260px;
}
.services.skills .title::after{
        content: "Using skills";
}

.services .services-content.skills .card{
    width: calc(50% - 10px);
    height: 250px;
}
.services .services-content.skills .card .box{
    margin-top: 20px;
}










/* resposive style for skills page */
@media(max-width:576px){
    .about-skills .skills-slider .text-1{
        font-size: 37px;
        color: white;
        text-align:center;
        margin-bottom: 20px;
    }
    .about-skills .skills-slider .text-2{
        font-size: 26px;
       color: crimson;
        text-align:center;
        margin-bottom: 10px;
    }
    .about-skills .skills-slider .text-3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .about-skills a{
        padding: 10px 30px;
    font-size: 18px;
    width: 200px;
    
    }
    .about-skills{
       
        background-image:url("../images/home2.jpg");
    }
    .services .services-content.skills .card{
        width: calc(100% - 0px);
        height: 250px;
    }
    .services.skills .title::before{
        width: 230px;
    }
} 